Package: obsctl
Version: 0.4.0 # x-release-please-version
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Metro
Description: Uploads local files to S3-compatible OBS with systemd and telemetry integration.
